.toolboxItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    width: 5rem;
    height: 5rem;
}

.toolbox {
    display: flex;
    gap: 10px;
}

.toolboxHeader {
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    text-align: center;
}

.toolboxContainer {
    display: flex;
    gap: 30px;
}