.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto; 
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #003E65;
    border-radius: 10px 10px 0 0;
    width: fit-content;
    text-wrap: nowrap;
    gap: 50px;
  }
  
  .title {
    font-size: 1.25rem;
    color: white;
    cursor: grab;
  }
  
  .delete-button {
    padding: 0;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .content {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    flex-direction: column;
    flex-basis: 100%;
    flex-grow: 0;
    max-width: 100%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
    background: #ffffff73;
    border-radius: 0 5px 5px 5px;
    margin-bottom: 10px;
    cursor: grab;
  }
  
  .logo {
    width: 30px;
  }
  
  .name {
    font-size: 1.25rem;
  }

  .actionButton {
    cursor: pointer;
  }
  