.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto; /* Establece la altura automática */
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #003E65; /* Puedes ajustar el color de fondo según tus necesidades */
    border-radius: 10px 10px 0 0;
    width: 30%;
  }
  
  .title {
    font-size: 1.25rem;
    color: white;
  }
  
  .delete-button {
    padding: 0;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .content {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 100%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px;
    background: #ffffff73;
    border-radius: 0 5px 5px 5px;
    margin-bottom: 10px;
    cursor: grab;
  }
  
  .logo {
    width: 30px;
  }
  
  .name {
    font-size: 1.25rem;
    color: #3f51b5; /* Puedes ajustar el color según tus necesidades */
  }
  