.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto; /* Establece la altura automática */
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #3f51b5; /* Puedes ajustar el color de fondo según tus necesidades */
    border-radius: 10px 10px 0 0;
    cursor: move;
  }
  
  .title {
    font-size: 1.25rem;
    color: white;
  }
  
  .delete-button {
    padding: 0;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.35);
    border-radius: 0 5px 5px 5px;
    margin-bottom: 10px;
    cursor: move;
  }
  
  .logo {
    width: 30px;
  }
  
  .name {
    font-size: 1.25rem;
    color: #3f51b5; /* Puedes ajustar el color según tus necesidades */
  }
  